#uname
{
	
	background-color: #FFEBCD;
	height: 40px;

	

}

#catid
{
	color: #6A5ACD;
}

body
{
	background-color: #B0B0B0;
}
#un
{
	color: blue;
	margin-left: 1600px;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 600px;
	padding: 10px;


}
#header
{

	background-color: black;
	height: 50px;
	color: #87CEFA;
}
#action
{
	background-color: #A9A999;
	height: 40px;
	padding: 10px;
	margin-top: 10px;
}
#categorycontent
{
	background-color:  	#FFEBCD;
	
	position: absolute;

	margin-left: 800px;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 600px;
	padding: 10px;
	border: 1px dashed;
	
}
#tagcontent
{
	background-color:  	#FFEBCD;

	position: absolute;

	margin-left: 800px;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 600px;
	padding: 10px;
	border: 1px dashed;
	
}
#postcontent
{
	background-color:  	#FFEBCD;
	
	position: absolute;

	margin-left: 800px;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 600px;
	padding: 10px;
	border: 1px dashed;
	
}
#title
{
	width:250px;

}
#showdescription
{
	color: black;
}
#showtitle
{
	font-weight: bold;
	color: red;	
}


#description
{
	width: 350px;
	height: 100px;
}

#showpost
{

	background-color: #F0FFFF;
	width: 500px;
	color: #87CEFA;
	margin-top: 10px;
	margin-left: 50px;
	border: 1px solid;
	
}