<h1>New Entry</h1>

<%= form_for :store url: stores_path do |f| %>

<p>< f.label :item_title>Item Title:</label>
	<%= f.text_field :item_title , :item_title %>
</p>
<p>< f.label :price>Item Price:</label>
	<%= f.text_field :price , :price%>
</p>

<%= f.submit_tag 'click here' %>

<% end %>
