<h1><center>Welcome to my Website</center></h1>

<center><%= link_to 'Student', '../studentpages/index' %></center> <br><br>
<center><%= link_to 'Courses', '../coursepages/index' %></center><br><br>
<center><%= link_to 'Department', '../departmentpages/index' %></center>
<p></p>
