<h1>New category</h1>
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', categories_path %></li>
  <li class="active"><%= link_to 'New Category', new_category_path %></li>
  <li><%= link_to 'Tag List', tags_path %></li>
</ul>
</ul>

<%= render 'form' %>

