/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header{


		width: 1900px;
		float: left;
		background-color: red;
		height: 60px;
}
.test1{
    background-color:#eeeeee;
    height:300px;
    width:450px;
    float:left;
    padding:0px;
}

.test2{


    background-color:#eefeee;
    height:300px;
    width:878px;
    float:left;
    padding:0px;

}
.test3{


    background-color:#eefefe;
    height:300px;
    width:550px;
    float:right;
    padding:0px;

}

