<p id="notice"><%= notice %></p>

<p>
  <strong>My subjects:</strong>
  <%= @mysubject.my_subjects %>
</p>

<%= link_to 'Edit', edit_mysubject_path(@mysubject) %> |
<%= link_to 'Back', mysubjects_path %>
