



******************************************************************************
<div class="container">

		<div class="jumbotron">

		
			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="tab" href="#id1">Home</a></li>
				<li><a data-toggle="tab" href="#id2">About</a></li>
				<li class="tabs"><a class="tabs-toggle" data-toggle="dropdown" href="#">
					Contact Us<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
							<li><a data-toggle="tab" href="#id3">Email</a></li>
							<li><a data-toggle="tab" href="#id4">phone</a></li>
					</ul>		

				</li>	
			</ul>	


<div class="tab-content">
	<div id="id1" class="tab-pane fade in active">
    <p>This is home tab</p>


</div>
  
    <div id="id2" class="tab-pane fade">
    <p>This is About tab</p>


</div>

    <div id="id3" class="tab-pane fade">
    <p>This is contact us(email) tab</p>


</div>

    <div id="id4" class="tab-pane fade">
    <p>This is contact us(phone) tab</p>
</div>


	</div>
	
  </div>


</div>




************************************* Header Panel *****************************************



<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading"><h5>Header</h5></div>

<div class="panel-body">
	<p>This is content......!!!!!</p>
	</div>
</div>
</div>


******************************************** List Group **********************************

<div class="container">
<ul class="list-group">
		<li class="list-group-item list-group-item-success disabled"><a class="btn btn-link" href="#">Home</li>
		<li class="list-group-item list-group-item-info "><a class="btn btn-link" href="#">about</li>
		<li class="list-group-item list-group-item-danger"><a class="btn btn-link" href="#">contact us</li>
		<li class="list-group-item list-group-item-warning"><a class="btn btn-link" href="#">Login</li>
</ul>

</div>

breadcrumb


******************************************** Breadcrumb **********************************

<div class="container">
	<div class="breadcrumb">
		<ol class="breadcrumb">
				<li><a class="btn btn-success" href="#">Home</a></li>
				<li class="active"><a class="btn btn-info" href="#">About</a></li>
				<li><a class="btn btn-warning" href="#">contact</a></li>
				<li ><a class="btn btn-link" href="#">Login</a></li>
		</ol>
	</div>
</div>
******************************************** Wells **********************************
<div class="well well-lg">

	Large text
	</div>

<div class="well well-sm">
	Small text 
	</div>

	<div class="well">

	Normal text
		</div>



******************************************** Inline form **********************************

<form class="form-inline" role="form">
		<div class="form-group">
				<label>Username</label>
      	
      		<input class="form-control" placeholder="Email" type="email">
     
		</div>
  
  <div class="form-group">
  <label>Password</label>
      		<input class="form-control" placeholder="Passowd" type="password">
  </div>
 <button type="submit" class="btn btn-default">Login</button>
</form>


******************************************** horizontal form **********************************

<form class="form-horizontal" role="form">
		<div class="form-group">
				<label class="control-label col col-lg-1">Username:</label>
      	<div class="col col-sm-2">
      		<input class="form-control" placeholder="Email" type="email">
      </div>
		</div>
  
  <div class="form-group">
  <label class="control-label col col-lg-1">Password:</label>
    <div class="col col-sm-2">
      		<input class="form-control" placeholder="Passowd" type="password">
    </div>
  </div>
  <div class="control-action">
 <button type="submit" class="col col-sm-offset-1 btn btn-default">Login</button>
  </div>
</form>

******************************************** Validation form **********************************

<form class="form-horizontal" data-toggle="validator" role="form">
		<div class="form-group">
				<label class="control-label col col-lg-1">First name</label>
      	<div class="col col-sm-2">
      		<input class="form-control" placeholder="First Name" type="text" required>
      </div>
		</div>
  
  	<div class="form-group">
				<label class="control-label col col-lg-1">Middle name</label>
      	<div class="col col-sm-2">
      		<input class="form-control" placeholder="Middle Name" type="text" required>
      </div>
		</div>
  
  	<div class="form-group">
				<label class="control-label col col-lg-1">Last name</label>
      	<div class="col col-sm-2">
      		<input class="form-control" placeholder="Last Name" type="text" required>
      </div>
		</div>
  
  	<div class="form-group">
				<label class="control-label col col-lg-1">City</label>
      	<div class="col col-sm-2">
      		<input class="form-control" placeholder="First Name" type="text" required>
      </div>
		</div>
  
  
  
  <div class="form-group">
  <label class="control-label col col-lg-1">Email</label>
    <div class="col col-sm-2">
      		<input class="form-control" placeholder="Email" type="email" required>
    </div>
  </div>
  
  
   <div class="form-group">
  <label class="control-label col col-lg-1">Password</label>
    <div class="col col-sm-2">
      		<input class="form-control" placeholder="Password" type="password" required>
    </div>
  </div>
   <div class="form-group">
  <label class="control-label col col-lg-1">Confirm Password</label>
    <div class="col col-sm-2">
      		<input class="form-control" placeholder="Confirm Password" type="password" required>
    </div>
  </div>

  <div class="checkbox">
      <label>
        <input type="checkbox" disabled>
        Check yourself
      </label>
      
    </div>
  
  
  <div class="control-action">
 <button type="submit" class="col col-sm-offset-1 btn btn-default">Submit</button>
  </div>
</form>


