

<br>
<div class="container">

<span class="fa-stack fa-lg">
 <i class="fa fa-twitter fa-stack-1x"></i>
</span>
<i class="fa fa-spinner fa-spin"></i>
<i class="fa fa-circle-o-notch fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<i class="fa fa-cog fa-spin"></i>
<i class="fa fa-spinner fa-pulse"></i>


<div>


<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>List icons</li>
  <li><i class="fa-li fa fa-check-circle"></i>can be used</li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
  <li><i class="fa-li fa fa-square"></i>in lists</li>
</ul>


<br>


<script>
$(document).ready(function(){
    $("#mybtn").click(function(){
        swal({
  		title: "Are you sure?",
  		text: "You will not be able to recover this imaginary file!",
  		type: "warning",
  		showCancelButton: true,
  		confirmButtonColor: "#DD6B55",
  		confirmButtonText: "Yes, delete it!",
  		closeOnConfirm: false
		},
		function(){
 		 swal("Deleted!", "Your imaginary file has been deleted.", "success");
		});
    	});
}); 







 


 </script>

 <input type="submit" id="mybtn">


****************************************************************************************************************






<h1>Social Buttons for Bootstrap</h1>
  <div class="row">
    <div class="col-sm-4 social-buttons">
      <h3>The Buttons</h3>
      <a class="btn btn-block btn-social btn-dropbox">
        <i class="fa fa-dropbox"></i> Sign in with Dropbox
      </a>
      <a class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
      </a>
      <a class="btn btn-block btn-social btn-google-plus">
        <i class="fa fa-google-plus"></i> Sign in with Google
      </a>
      <a class="btn btn-block btn-social btn-linkedin">
        <i class="fa fa-linkedin"></i> Sign in with LinkedIn
      </a>
      <a class="btn btn-block btn-social btn-twitter">
        <i class="fa fa-twitter"></i> Sign in with Twitter
      </a>

      <div class="text-center">
        <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="social-sizes">
        <h3>Different Sizes</h3>

        <a class="btn btn-block btn-social btn-lg btn-google-plus">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>

        <a class="btn btn-block btn-social btn-google-plus">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>

        <a class="btn btn-block btn-social btn-sm btn-google-plus">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-xs btn-google-plus">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>
        <hr>
        <div class="text-center">
          <a class="btn btn-social-icon btn-lg btn-google-plus"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-xs btn-google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>    
  </div>        
</div>
