<div class="row">
<div class="col-xs-1 bg-info" >col1</div>
<div class="col-xs-1 bg-danger" >col2</div>
<div class="col-xs-1 bg-success" >col3</div>
<div class="col-xs-1 bg-warning" >col4</div>
<div class="col-xs-1 bg-info" >col5</div>
<div class="col-xs-1 bg-danger" >col6</div>
<div class="col-xs-1 bg-success" >col7</div>
<div class="col-xs-1 bg-warning" >col8</div>
<div class="col-xs-1 bg-info" >col9</div>
<div class="col-xs-1 bg-danger" >col10</div>
<div class="col-xs-1 bg-success" >col11</div>
<div class="col-xs-1 bg-warning" >col12</div>
<div class="col col-xs-1 col col-xs-offset-5 bg-danger">test offset position(6)</div>
<div class="col col-xs-1 col col-xs-offset-2 bg-danger">test position(9)</div>
</div>


<div class="container show-grid">
    <div class='row'>
        <div class="col-12 col-sm-4 col-lg-4 col-push-4 bg-danger">
            Example 1 / Content B
        </div>
        <div class="col-12 col-sm-4 col-lg-4 col-pull-4 bg-success">
            Example 1 / Content A
        </div>
    </div>
    <div class='row'>
    <div class="col-12 col-sm-3 col-lg-3 col-push-3 bg-warning">
        Example 2 / Content B
    </div>
    <div class="col-12 col-sm-3 col-lg-3 col-pull-3 bg-info">
        Example 2 / Content A
    </div>
    <div class="col-12 col-sm-3 col-lg-3 bg-warning">
        Example 2 / Content C
    </div>
    </div>
</div>







<h3>Grid</h3>
<div class = "row">
   <div class="col-lg-1 bg-warning">
   1
   </div>
   <div class="col-lg-1 bg-info">
   2
   </div>
   <div class="col-lg-1 bg-success">
   3
   </div>
   <div class="col-lg-1 bg-danger">
   4
   </div>
   <div class="col-lg-1 bg-warning">
   5
   </div>
   <div class="col-lg-1 bg-info">
   6
   </div>
   <div class="col-lg-1 bg-success">
   7
   </div>
   <div class="col-lg-1 bg-danger">
   8
   </div>
   <div class="col-lg-1 bg-warning">
   9
   </div>
   <div class="col-lg-1 bg-info">
   10
   </div>
   <div class="col-lg-1 bg-success">
   11
   </div>
   <div class="col-lg-1 bg-danger">
   12
   </div>
   </div>

   <div class = "row">
       <br/>

       <br/>
   </div>
<h3>Nested Grid</h3>

   <div class = "row">
       <div class="col-lg-12 bg-warning">
       <p>This is Outer Grid</p>
           <div class="col-lg-6 bg-danger">
               This is Inner Grid
           </div>
       </div>
</div>

<div class = "row">
       <br/>
       <br/>
   </div>

<div class = "row">
       <div class="col-lg-12 bg-warning">
       <p>This is Outer Grid</p>
          
         <div class="col-lg-6 col-lg-push-6 bg-info">
            This is grid value
            <div class="col-lg-3 col-lg-pull-4 bg-danger">
            this is pull example
            </div>
         </div>
       </div>
</div>
  
     <div class = "row">
       <br/>
      
       <br/>
   </div>
<h3>Pushing and Pulling Columns</h3>

   <div class = "row">
       <div class="col-md-4 col-md-push-8 bg-warning">
       <p>This is Column 1</p>
           <div class="col-md-8 col-md-pull-4 bg-info">
               This is column 2
           </div>
       </div>
   </div>

    <div class = "row">
       <br/>
      
       <br/>
   </div>
<hr/>
<hr/>
   <div class = "row">
       <div class="col-md-4 col-md-push-8 bg-cover">
       <p>This is Column 1</p>
           <div class="col-md-8 col-md-pull-4 bg-info">
               This is column 2
           </div>
       </div>
   </div>

    <div class = "row">
       <br/>
      
       <br/>
   </div>
<h3>Offset Columns</h3>

   <div class = "row">
       <div class="col-md-12  bg-warning">
       <p>This is Column 1</p>
           <div class="col-md-6 col-md-offset-2 bg-info">
               This is column 2
           </div>
       </div>
   </div>


***************** Simple form **********************


   <div class="container">
<form role="form">
  <div class="form-group">
    <label class="col-lg-2">Username</label>
    <div class="col-lg-4">
      <input placeholder="Email" class="form-control input-lg" type="email" required>
  </div>
  </div>
      
      
      <br><br><br>
      
      <div class="form-group">
        <label class="col-lg-2">Password</label>
  <div class="col-lg-4">
          <input placeholder="Password" class="form-control input-lg" type="password" required>        
        </div>
        </div>
      
   		<br><br>
      <div class="form-group">
    <div class="col-lg-4 col-lg-offset-2">
    <label><input value="Remember Me"  type="checkbox"/>Remember Me</label>
    </div>
    <div>
        <br><br>
      <div class="form-actions">
        
  			<input type="submit" value="Login" class="col-lg-1 col-lg-offset-3 btn btn-success">		
  
  </div>



</form></div>