<h1><center>Welcome to my Website</center></h1>

<center><%= link_to 'Create New Account', 'new' %></center> <br><br>
<center><%= link_to 'Login', 'login' %></center><br><br>
<center><%= link_to 'Search', 'search' %></center>
<p></p>
